@import 'vars';
@import 'global';
@import 'fonts';

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Header__top>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.header__inner__top {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__inner__text {
    margin-left: auto;
    margin-right: 50px;
}

.header__help {
    color: $red;
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.header__login {
    background-color: $red;
}

.header__register {
    background-color: $green;
}



// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Header__menu>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.header__menu {
    background-color: $bg;


}

.menu__nav {
    display: flex;
    align-items: center;
    height: 60px;

}

.menu__list {

    li {
        display: inline-block;

    }

    li+li {
        margin-left: 40px;
    }

    li a {
        color: #fff;
        font-size: 14px;
    }

}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Search>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.search {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

}

.search__inner {
    padding: 135px 0px 100px;
    line-height: 30px;
    text-align: center;
    color: #fff;

    &-title {
        font-family: $bold;
        font-size: 48px;
        margin-bottom: 28px;
    }

    &-text {
        font-family: $medium;
        font-size: 20px;
        margin-bottom: 50px;
    }

    &-form {
        margin: 0 auto;
        max-width: 670px;
        position: relative;

        input {
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-family: $medium;
            outline: $green;
            padding: 0 60px 0 25px;

            &::placeholder {
                color: #90a4ae;
                padding-right: 60px;
            }
        }

    }
}

button {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 17px;
    top: 17px;
    outline: none;
}